<%- include ("navbar.ejs") %>

<style>

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        min-width: 400px;
        color: #fff !important;
    }
    table, th, td {
        border: 1px solid rgb(255, 0, 0);
    }
    th, td {
        text-align: left;
    }
    th {
        background-color: #555;
    }
    tr:nth-child(even) {
        background-color: #444;
    }
    button:hover {
        background-color: #666;
    }

</style>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/admin/save_projects" method="post" enctype="multipart/form-data">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mt-3 mb-3">
                            <h1 class="text-center">Add Projects</h1>
                        </div>
                
                        <div class="col-md-4">
                            <h5>Project Name :-</h5>
                            <input type="text" name="project_name" class="form-control bg-white">
                        </div>
                
                        <div class="col-md-4">
                            <h5>Project Role :-</h5>
                            <input type="text" name="project_role" class="form-control bg-white">
                        </div>
                
                        <div class="col-md-4">
                            <h5>Client Name :-</h5>
                            <input type="text" name="client_name" class="form-control bg-white">
                        </div>
                
                        <div class="col-md-4">
                            <h5>Project Technology:-</h5>
                            <input type="text" name="project_technology" class="form-control bg-white">
                        </div>
                
                        <div class="col-md-4">
                            <h5>Project Duration:-</h5>
                            <input type="text" name="project_duration" class="form-control bg-white">
                        </div>
                
                        <div class="col-md-4">
                            <h5>Project Description:-</h5>
                            <input type="text" name="project_desc" class="form-control bg-white">
                        </div>
            
                        <div class="col-md-10">
                            <h5>Project Image :-</h5>
                            <input type="file" name="project_image" class="form-control">
                        </div>
                
                        <div class="col-md-12 text-center mt-3">
                            <button class="btn btn-outline-success">SAVE</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Sr.No</th>
                        <th>Action</th>
                        <th>Project Name</th>
                        <th>Project Role</th>
                        <th>Client Name</th>
                        <th>Project Technology</th>
                        <th>Project Duration</th>
                        <th>Project Description</th>
                        <th>Project Image</th>
                    </tr>

                    <% for(i=0; i<project_info.length; i++) { %>
                        <tr>
                            <td><%=i+1%></td>
                            <td>
                                <a href="/admin/edit_projects/<%=project_info[i].project_id%>">
                                    <button class="btn btn-outline-success btn-sm mb-2"><i class="fa-regular fa-pen-to-square"></i></button>
                                </a>
                                <a href="/admin/delete_project/<%=project_info[i].project_id%>" onclick="return confirm('Are You Sure')">
                                    <button class="btn btn-outline-danger btn-sm"><i class="fa-regular fa-trash-can"></i></button>
                                </a>
                            </td>
                            <td><%=project_info[i].project_name%></td>
                            <td><%=project_info[i].project_role%></td>
                            <td><%=project_info[i].client_name%></td>
                            <td><%=project_info[i].project_technology%></td>
                            <td><%=project_info[i].project_duration%></td>
                            <td><%=project_info[i].project_desc%></td>
                            <td>
                                <img src="/uploads/<%=project_info[i].project_image%>" alt="Project Image" width="100%">
                            </td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</div>



<%- include ("footer.ejs") %>